<!-- About Start -->

<section id="{{ page.section-type }}" class="container content-section text-center">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      {{ page.content | markdownify }}
    </div>    
  </div>
</section>

<script src="/js/jquery.js" type="text/javascript"></script>
<script src="/js/Fancyslideshow.min.js" type="text/javascript"></script>

<div id='slideshowHolder'>
   <img src='/img/bear.jpg' alt='img1' />
   <img src='/img/bee.jpg' alt='img2' />
   <img src='/img/deer.jpg' alt='img3' />
</div>

<script>
$(document).ready( function(){
    $('#slideshowHolder').jqFancyTransitions({ width: 400, height: 300 });
});
</script>
