<!-- About Start -->
 <section id="{{ page.section-type }}" class="container content-section text-center">
   <div class="row">
     <div class="col-md-10 col-md-offset-1">
       {{ page.content | markdownify }}
      
      <html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
.mySlides {display:none;}
</style>
<body>

<h2 class="w3-center"></h2>

<div class="w3-content w3-section" style="max-width:500px">
  <img class="mySlides" src="/img/bear.jpg" style="width:100%">
  <img class="mySlides" src="/img/bee.jpg" style="width:100%">
  <img class="mySlides" src="/img/buffalo.jpg" style="width:100%">
 <img class="mySlides" src="/img/camping.jpg" style="width:100%">
 <img class="mySlides" src="/img/coasters.jpg" style="width:100%">
 <img class="mySlides" src="/img/deer.jpg" style="width:100%">
 <img class="mySlides" src="/img/fish.jpg" style="width:100%">
 <img class="mySlides" src="/img/deerfight.jpg" style="width:100%">
 <img class="mySlides" src="/img/japanese.jpg" style="width:100%">
 <img class="mySlides" src="/img/Lions.jpg" style="width:100%">
 <img class="mySlides" src="/img/racoons.jpg" style="width:100%">
 <img class="mySlides" src="/img/skull.jpg" style="width:100%">
 <img class="mySlides" src="/img/thanos.jpg" style="width:100%">
 <img class="mySlides" src="/img/wolf.jpg" style="width:100%">
</div>

<script>
var myIndex = 0;
carousel();

function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";  
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}    
    x[myIndex-1].style.display = "block";  
    setTimeout(carousel, 5000); // Change image every 2 seconds
}
</script>

</body>
</html>
      
     </div>
   </div>
 </section>
<!-- About End -->
